*{
    padding: 0%;
    margin: 0%;
}

.content{
    height: 100vh;
     display: flex; 
     justify-content: center; 
     align-items: center; 
     padding:0 20px ; 
}
.button{
    background-color: chartreuse;
    border: 0;
    color: azure;
    text-decoration: none;
    border-radius: 5px;
    padding:5px 20px;
    opacity: 0.8;
    margin-top: 10px;
    align-items: center;
    margin-left: 140px;
}
.video{
    position: absolute;
z-index: -1;
}
.text{

    color: aliceblue;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
    color: aqua;
    margin-left: 40px;
}
.button{
    align-items: center;
}
h1,h3,p{
    color: aliceblue;
    margin-left: 30px;
}
